#video{
    float: left;
    width: 100%;
    min-height: 100vh;
}
#teams{
    float: right;
    width: 100%;
    min-height: 100vh;
}
#data{
    float: right;
    width: 100%;
    min-height: 100vh;
}