#video{
    box-sizing:border-box;
    float: left;
    width: 55%;
    min-height: 100vh;
    padding: 5%;
}
#teams{
    box-sizing:border-box;
    float: right;
    width: 35%;
    min-height: 100vh;
    padding: 5%;
}
#data{
    box-sizing:border-box;
    float: right;
    width: 35%;
    min-height: 100vh;
    padding: 5%;
}